%table.table
  %thead
    %tr
      %th Zip Code
      %th City/State
      %th Current Temp
      %th High
      %th Low
      %th Avg Temp
      %th{:colspan => "3"}
  %tbody
    - @locations.each do |location|
      %tr
        %td= location.zip_code
        %td= "#{location.city}, #{location.country_abbreviation}"
        %td= "#{location.current_temperature_fahrenheit}&deg;F (#{celcius_conversion(location.current_temperature_fahrenheit)}&deg;C)".html_safe
        %td= "#{location.high}&deg;F (#{celcius_conversion(location.high)}&deg;C)".html_safe
        %td= "#{location.low}&deg;F (#{celcius_conversion(location.low)}&deg;C)".html_safe
        %td= "#{location.average_temperature}&deg;F (#{celcius_conversion(location.average_temperature)}&deg;C)".html_safe
        %td= link_to 'Show', location
        %td= link_to 'Edit', edit_location_path(location)
        %td= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Location', new_location_path
